.related .card {
  margin: 0px 7px;
  min-height: 300px;
  transition: opacity 0.4s ease-in-out;
  cursor: pointer;

  &:hover {
    img {
      transform: scale(1.05);
      transition: transform 0.3s;
    }

  }

  .thumb {
    height: 170px;
    overflow: hidden;
  }

}