#featureProducts {
  #productList {
    padding-top: 50px;
  }

  .productList {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
  }

  .productDetail {
    width: calc(100%/4 - 15px);
    flex: none;
    background-color: var(--bs-white);
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
    text-align: center;
    font-size: 0.8rem;
    padding: 10px;
    margin-bottom: 20px;
    transform: scale(1);
    transition: 0.3s ease-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.04);
    }

  }

  .col {
    .name {
      font-size: 0.8rem;
    }

    .price {
      color: var(--bs-gray-500);
      margin-top: 5px;

      &:before {
        content: '$';
      }
    }

  }

  .card {
    border: none;
    width: 100%;
  }
}