.testimonial {
  background: url('/static/parallax.jpg') no-repeat top center;
  background-size: cover;
  min-height: 350px;
  margin-top: 50px;
}

.testimonial_inner {
  padding-top: 50px;
  text-align: center;
  max-width: 700px;
  margin: 0px auto;
  color: var(--bs-white);

  .picture img {
    border-radius: 50%;
    background-size: cover;
    background-position: top;
    width: 100px;
    margin-bottom: 30px;
  }

  .text {
    margin-bottom: 30px;
  }

  .author {
    margin-bottom: 20px;
  }
}